@{
    ViewBag.Title = "Home Page";
}

<div id="grid">

    @for (var row = 0; row < 10; row++)
    {
        <div class="row">
            @for (var column = 0; column < 10; column++)
            {
                <div class="cell"></div>
            }
        </div>
    }

</div>
<p><a href="https://asp.net" class="btn btn-primary btn-lg">DO STUFF &raquo;</a></p>