@{
    ViewBag.Title = "Home Page";
}

<div id="grid">

    @for (var row = 0; row < 10; row++)
    {
        <div class="row" id="row-@row">
            @for (var column = 0; column < 10; column++)
            {
                <div class="cell" id="cell-@row-@column"></div>
            }
        </div>
    }

</div>

<p><a class="btn btn-primary btn-lg" id="do-stuff">STEP &raquo;</a></p>