#grid {
    border: solid 0px black;
    height: 800px;
    margin: 0 auto;
    width: 800px;
}

.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 80px;
}

.cell {
    background-color: grey;
    border: solid 1px black;
    display: inline-block;
    margin: 0;
    padding: 0;
    flex: 1 0 auto;
    width: 80px;
}

.alive-cell {
    background-color: greenyellow;
}

.dead-cell {
    background-color: brown;
}

.never-alive-cell {
    background-color: grey;
}

.btn {
    margin: 0 auto;
}